<div class="container"> 
	<div class="row">
	<div class="col-md-12">
		<div class="jumbotron">
			<%= form_with url: projects_create_path do |f| %>
				<h2>Enter github url to download</h2>
				<%= f.text_field :url ,class: "form-control input-lg",:id =>"myInput" %>
				<%=f.submit "download",:href => "#{params[:url]}" %>
			<% end %>
		</div>
	</div>
	</div>
</div>
<style type="text/css">
#myInput		{
	width:30%;
	-webkit-transition:width 0.3s ease-in-out;
}
#myInput:focus	{
	width:100%;
	-webkit-transition:width 0.5s ease-in-out;
}
</style>
<!--  -->
