<li>
  <div class="row">
  	<div class="container">
  		
    <div class="<%= user.id == message.user_id ? 'message-sent' : 'message-received' %>">
      <p><%= message.body %></p>
      <span><%= message.created_at.to_formatted_s(:short)%></span>
    </div>
	</div>
  </div>
</li>
